
@font-face {
  font-family: 'D7';
  src: url('../assets/fonts/DSEG7Classic-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

.seven-segment {
  font-family: 'D7' !important;
}


html, body, .rpm-container {
	height: 100%;
}

.tachometer {
	width: 100%;
	transform: rotate(-316deg);
	transition: 100ms linear all;
}

.info{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 100%;
    display: flex; /* establish flex container */    
    justify-content: center; /* align items vertically, in this case */
    align-items: center; /* align items horizontally, in this case */
    border: 1px solid black; /* for demo purposes */
}

.info-centro {
    position: absolute;
    background-color: #2d2d2d;
    width: 200px;
    height: 140px;
    text-align: center;
    align-self: flex-end;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    padding-top: 80px;
    font-size: 50px;
}

.info label{
    width: 100%;
    display: inline-block;
    color: black;
    /*font-size: 49px;*/
    position: absolute;
}

.valor {
    text-align: right;
    padding-right: 16px;
}

.display{
    background-color: #fb7c00;
    padding-top: 2px;
    position: absolute;
    width: 100%;
    height: 61px;
    display: flex;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.display .bg {
    color: rgba(0,0,0,0.15);
}

.marcador{
	position: fixed;
    bottom: 45px;
    width: 100%;
    transition: 100ms linear all;
    transform: rotate(285deg);
}

.centro {
    background-color: black;
    width: 71px;
    height: 71px;
    position: absolute;
    left: 282px;
    top: -35px;
    border-radius: 51px;
}
/*
.sombra-agulha{
bottom: 0px;
    left: calc(50% - 4px);
    position: fixed;
    width: 7px;
    background-color: transparent;
    border-bottom: 254px solid #292929;
    box-shadow: 0px 0px 20px 2px;
}*/


.sombra-agulha {
    left: calc(50% + -39px);
    bottom: 75px;
    position: fixed;
    box-sizing: border-box;
    background: black;
}
.sombra-agulha::after {
content: "";
    position: absolute;
    top: 50px;
    left: 50px;
    width: 0;
    height: 0;
    box-sizing: border-box;
    border: 0px solid black;
    /* border-left: 111px solid black; */
    border-right: 220px solid black;
    border-color: transparent transparent black black;
    transform-origin: 0 0;
    transform: rotate(268deg);
    box-shadow: 0px 3px 12px 4px rgba(0, 0, 0, 0.4)
}

.agulha{
	bottom: 0px;
    left: calc(50% - 14px);
    position: fixed;
    width: 28px;
    /* height: 608px; */
    background-color: transparent;
    border-bottom: 260px solid red;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    /* box-sizing: border-box; */
}

.slowTransitions{    
    transition: 1000ms linear all !important;
}